/* Fonts */

@font-face {
    font-family: font_pixel;
    src: url(../fonts/coolville.ttf);
}

/* Styling */

body{
    background-color: #060606;
    color: white;
}

body{
    font-family: 'font_pixel';
    font-size: 20px;
}
